version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:80"
    environment:
      - ADMIN_PASS=changeme
    volumes:
      - ./public:/var/www/html:ro
      - ./src:/var/www/src:ro
      - ./data:/var/www/data:rw
